# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore generated SVG files
/images/logo.svg

# Ignore user-specific IDE settings
.vscode/
.idea/

# Ignore system files and logs
.DS_Store
Thumbs.db
